In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dfs = pd.read_excel("Mavi Data Analytics Denim Fit Sales Analysis.csv.xlsx", sheet_name=None, engine='openpyxl')

In [3]:
df1 = dfs['Sales']
df2 = dfs['Products']

In [4]:
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(3))
    print("##################### Tail #####################")
    print(dataframe.tail(3))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    

check_df(df1)

##################### Shape #####################
(34070, 11)
##################### Types #####################
DocID                       int64
StoreCode                   int64
ProductItemCode            object
ProductCode                object
Date               datetime64[ns]
ReturnFlag                  int64
Time                        int64
Quantity                    int64
Amount                    float64
DiscountAmount            float64
ChangeCardFlag              int64
dtype: object
##################### Head #####################
   DocID  StoreCode   ProductItemCode    ProductCode       Date  ReturnFlag  \
0      1       1837  M100462-80835007  M100462-80835 2024-02-18           1
1      2       1851  M100462-80835007  M100462-80835 2024-04-07           0
2      3       1666  M100462-80835007  M100462-80835 2024-02-04           0

   Time  Quantity   Amount  DiscountAmount  ChangeCardFlag
0  1736        -2 -1396.35      -349.09091               0
1  1853         2   999.99       745.44545               0
2  1603         2  1396.35       349.09091               0
##################### Tail #####################
       DocID  StoreCode   ProductItemCode    ProductCode       Date  \
34067  39996       1825  M100980-82211042  M100980-82211 2025-01-11
34068  39997       1825  M101225-80680017  M101225-80680 2024-11-01
34069  40000       1631  M100277-33687015  M100277-33687 2024-12-26

       ReturnFlag  Time  Quantity      Amount  DiscountAmount  ChangeCardFlag
34067           0  1541         1  1272.71818             0.0               0
34068           0  1738         1   818.17000             0.0               0
34069           0  1440         1   909.08000             0.0               0
##################### NA #####################
DocID              0
StoreCode          0
ProductItemCode    0
ProductCode        0
Date               0
ReturnFlag         0
Time               0
Quantity           0
Amount             0
DiscountAmount     0
ChangeCardFlag     0
dtype: int64

In [5]:
#Sütun adlarını daha okunabilir hale getirme
df1.columns = [ "doc_id", "store_code", "product_item_code", "product_code",
    "date", "return_flag", "time", "quantity", "amount",
    "discount_amount", "change_card_flag"]

In [6]:
# Type dönüşümleri

df1["return_flag"] = df1["return_flag"].astype(bool)
df1["change_card_flag"] = df1["change_card_flag"].astype(bool)

df1["time"] = df1["time"].astype(str).str.zfill(4)  # eksik haneleri 0 ile doldur
df1["time"] = pd.to_datetime(df1["time"], format="%H%M").dt.time

df1['store_code'] = df1['store_code'].astype('category')
df1['product_code'] = df1['product_code'].astype('category')
df1['product_item_code'] = df1['product_item_code'].astype('category')

In [7]:
# Tip kontrolü
df1.dtypes

doc_id                        int64
store_code                 category
product_item_code          category
product_code               category
date                 datetime64[ns]
return_flag                    bool
time                         object
quantity                      int64
amount                      float64
discount_amount             float64
change_card_flag               bool
dtype: object

In [8]:
# Tekrar eden değerleri silme
df1 = df1.drop_duplicates()

In [9]:
# Analizi kolaylaştırmak için datetime sütunu ekle
df1['datetime'] = pd.to_datetime(df1['date'].astype(str) + ' ' + df1['time'].astype(str))

In [10]:
# Analiz için satış ve iade ayrımı
sales_df = df1[df1["return_flag"] == False].copy()
return_df = df1[df1["return_flag"] == True].copy()

In [11]:
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(3))
    print("##################### Tail #####################")
    print(dataframe.tail(3))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())


check_df(sales_df)

##################### Shape #####################
(25984, 12)
##################### Types #####################
doc_id                        int64
store_code                 category
product_item_code          category
product_code               category
date                 datetime64[ns]
return_flag                    bool
time                         object
quantity                      int64
amount                      float64
discount_amount             float64
change_card_flag               bool
datetime             datetime64[ns]
dtype: object
##################### Head #####################
   doc_id store_code product_item_code   product_code       date  return_flag  \
1       2       1851  M100462-80835007  M100462-80835 2024-04-07        False
2       3       1666  M100462-80835007  M100462-80835 2024-02-04        False
3       4       1666  M100462-80835007  M100462-80835 2024-02-02        False

       time  quantity   amount  discount_amount  change_card_flag  \
1  18:53:00         2   999.99        745.44545             False
2  16:03:00         2  1396.35        349.09091             False
3  19:56:00         2  1396.35        349.09091             False

             datetime
1 2024-04-07 18:53:00
2 2024-02-04 16:03:00
3 2024-02-02 19:56:00
##################### Tail #####################
       doc_id store_code product_item_code   product_code       date  \
34067   39996       1825  M100980-82211042  M100980-82211 2025-01-11
34068   39997       1825  M101225-80680017  M101225-80680 2024-11-01
34069   40000       1631  M100277-33687015  M100277-33687 2024-12-26

       return_flag      time  quantity      amount  discount_amount  \
34067        False  15:41:00         1  1272.71818              0.0
34068        False  17:38:00         1   818.17000              0.0
34069        False  14:40:00         1   909.08000              0.0

       change_card_flag            datetime
34067             False 2025-01-11 15:41:00
34068             False 2024-11-01 17:38:00
34069             False 2024-12-26 14:40:00
##################### NA #####################
doc_id               0
store_code           0
product_item_code    0
product_code         0
date                 0
return_flag          0
time                 0
quantity             0
amount               0
discount_amount      0
change_card_flag     0
datetime             0
dtype: int64

In [12]:
# Okumabilirlik açısından veri setinini ismini product_df olarak değiştirme
product_df = df2

In [13]:
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(3))
    print("##################### Tail #####################")
    print(dataframe.tail(3))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())


check_df(product_df)

##################### Shape #####################
(1511, 10)
##################### Types #####################
ProductCode           object
Class                 object
MainCategory          object
Category              object
SubCategory           object
SubCategoryClass      object
MainCategoryEN        object
CategoryEN            object
SubCategoryEN         object
SubCategoryClassEN    object
dtype: object
##################### Head #####################
      ProductCode              Class MainCategory   Category     SubCategory  \
0     M1020589168  Ticari Malzemeler    Denim All  Denim All  Denim Pantolon
1  M1011043-90090  Ticari Malzemeler    Denim All  Denim All  Denim Pantolon
2  M1010530-89661  Ticari Malzemeler    Denim All  Denim All  Denim Pantolon

  SubCategoryClass MainCategoryEN CategoryEN SubCategoryEN SubCategoryClassEN
0        Boyfriend      Denim All  Denim All   Denim Pants          Boyfriend
1         Wide Leg      Denim All  Denim All   Denim Pants           Wide Leg
2         Straight      Denim All  Denim All   Denim Pants           Straight
##################### Tail #####################
         ProductCode              Class MainCategory   Category  \
1508   M101225-84394  Ticari Malzemeler    Denim All  Denim All
1509  M1010623-88897  Ticari Malzemeler    Denim All  Denim All
1510   M101225-35482  Ticari Malzemeler    Denim All  Denim All

         SubCategory SubCategoryClass MainCategoryEN CategoryEN SubCategoryEN  \
1508  Denim Pantolon            Flare            NaN        NaN           NaN
1509  Denim Pantolon    Slim Straight      Denim All  Denim All   Denim Pants
1510  Denim Pantolon            Flare            NaN        NaN           NaN

     SubCategoryClassEN
1508                NaN
1509      Slim Straight
1510                NaN
##################### NA #####################
ProductCode             0
Class                   0
MainCategory            0
Category                0
SubCategory             0
SubCategoryClass        0
MainCategoryEN        278
CategoryEN            278
SubCategoryEN         280
SubCategoryClassEN    280
dtype: int64

In [14]:
product_df.columns = [
    "product_code",
    "class",
    "main_category",
    "category",
    "sub_category",
    "sub_category_class",
    "main_category_en",
    "category_en",
    "sub_category_en",
    "sub_category_class_en"
]

In [15]:
# Sabit sütunlar analize etki etmeyeceği için çıkarılır.
product_df = product_df.drop(columns=[
    'class', 'main_category', 'category', 'sub_category',
    'main_category_en', 'category_en', 'sub_category_en'
])

In [16]:
# sub_category_class , sub_category_class_en kolonları aynı değerlere mi sahip kontrol
equal = (product_df['sub_category_class'].astype(str) == product_df['sub_category_class_en'].astype(str))

In [17]:
equal.all()

False

In [18]:
# İki kolonda değişik olan tek şey sub_category_class sütunundaki Flare , sub_category_class_en sütununda boş değere sahip olması
product_df[~equal][['product_code', 'sub_category_class', 'sub_category_class_en']]

        product_code sub_category_class sub_category_class_en
4     M1010349-86424              Flare                   NaN
5      M101225-83488              Flare                   NaN
12     M101225-91318              Flare                   NaN
17       M1081191053              Flare                   NaN
23    M1010349-86249              Flare                   NaN
...              ...                ...                   ...
1496   M101489-83776              Flare                   NaN
1503   M100488-88765              Flare                   NaN
1504  M1010578-89222              Flare                   NaN
1508   M101225-84394              Flare                   NaN
1510   M101225-35482              Flare                   NaN

[285 rows x 3 columns]

In [19]:
# Analize etki etmeyeceği için boş değer içeren kolonu düşürmek daha mantıklı
product_df = product_df.drop(columns=['sub_category_class_en'])

In [20]:
# Veri tipini düzeltme
product_df['sub_category_class'] = product_df['sub_category_class'].astype('category')
product_df['product_code'] = product_df['product_code'].astype('category')

In [21]:
product_df.dtypes

product_code          category
sub_category_class    category
dtype: object

In [22]:
product_df = product_df.drop_duplicates()

In [23]:
# Kategori dağılımını kontrol etme
print(product_df['sub_category_class'].value_counts())

sub_category_class
Wide Leg               304
Flare                  277
Straight               215
Skinny                 197
Mom                    135
Slim Straight          115
Super Skinny            91
Boyfriend               82
Baggy                   79
Colored Denims           4
Büyük Beden              3
Maternity                2
Denim All                2
Fashion Woven Pants      1
Renkli Denim             1
Cord Pants               1
Cargo Pants              1
Hamile                   1
Name: count, dtype: int64

In [24]:
# Analizi daha başarılı yapabilmek için az sayıdaki kategorileri birleştirme
# Önce kategori frekanslarını hesapla
counts = product_df['sub_category_class'].value_counts()

In [25]:
# 10'dan az olan kategorileri bul
rare_categories = counts[counts < 10].index

In [26]:
# Bu az kategorileri 'Diğer' olarak değiştir
product_df['sub_category_class'] = product_df['sub_category_class'].apply(lambda x: 'Diğer' if x in rare_categories else x)

In [27]:
# Sonuçları kontrol et
print(product_df['sub_category_class'].value_counts())

sub_category_class
Wide Leg         304
Flare            277
Straight         215
Skinny           197
Mom              135
Slim Straight    115
Super Skinny      91
Boyfriend         82
Baggy             79
Diğer             16
Name: count, dtype: int64

In [28]:
sales_df["datetime"] = pd.to_datetime(sales_df["datetime"])

# Net tutar ve indirim oranı
sales_df["net_amount"] = sales_df["amount"] - sales_df["discount_amount"]
sales_df["discount_rate"] = sales_df["discount_amount"] / sales_df["amount"]

# Birleştirme
merged_df = pd.merge(sales_df, product_df, how="left", on="product_code")

In [29]:
# EXPLORATORY ANALYSIS
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(3))
    print("##################### Tail #####################")
    print(dataframe.tail(3))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    

check_df(merged_df)

##################### Shape #####################
(25984, 15)
##################### Types #####################
doc_id                         int64
store_code                  category
product_item_code           category
product_code                  object
date                  datetime64[ns]
return_flag                     bool
time                          object
quantity                       int64
amount                       float64
discount_amount              float64
change_card_flag                bool
datetime              datetime64[ns]
net_amount                   float64
discount_rate                float64
sub_category_class            object
dtype: object
##################### Head #####################
   doc_id store_code product_item_code   product_code       date  return_flag  \
0       2       1851  M100462-80835007  M100462-80835 2024-04-07        False
1       3       1666  M100462-80835007  M100462-80835 2024-02-04        False
2       4       1666  M100462-80835007  M100462-80835 2024-02-02        False

       time  quantity   amount  discount_amount  change_card_flag  \
0  18:53:00         2   999.99        745.44545             False
1  16:03:00         2  1396.35        349.09091             False
2  19:56:00         2  1396.35        349.09091             False

             datetime  net_amount  discount_rate sub_category_class
0 2024-04-07 18:53:00   254.54455       0.745453       Super Skinny
1 2024-02-04 16:03:00  1047.25909       0.250002       Super Skinny
2 2024-02-02 19:56:00  1047.25909       0.250002       Super Skinny
##################### Tail #####################
       doc_id store_code product_item_code   product_code       date  \
25981   39996       1825  M100980-82211042  M100980-82211 2025-01-11
25982   39997       1825  M101225-80680017  M101225-80680 2024-11-01
25983   40000       1631  M100277-33687015  M100277-33687 2024-12-26

       return_flag      time  quantity      amount  discount_amount  \
25981        False  15:41:00         1  1272.71818              0.0
25982        False  17:38:00         1   818.17000              0.0
25983        False  14:40:00         1   909.08000              0.0

       change_card_flag            datetime  net_amount  discount_rate  \
25981             False 2025-01-11 15:41:00  1272.71818            0.0
25982             False 2024-11-01 17:38:00   818.17000            0.0
25983             False 2024-12-26 14:40:00   909.08000            0.0

      sub_category_class
25981       Super Skinny
25982              Flare
25983                Mom
##################### NA #####################
doc_id                0
store_code            0
product_item_code     0
product_code          0
date                  0
return_flag           0
time                  0
quantity              0
amount                0
discount_amount       0
change_card_flag      0
datetime              0
net_amount            0
discount_rate         0
sub_category_class    0
dtype: int64

In [30]:
# Günlük satış trendi
daily_sales = merged_df.groupby(merged_df["datetime"].dt.date).agg({
    "net_amount": "sum",
    "quantity": "sum"
}).reset_index().rename(columns={"datetime": "date"})

# Kategori bazlı analiz
category_summary = merged_df.groupby("sub_category_class").agg({
    "quantity": "sum",
    "net_amount": "sum",
    "discount_rate": "mean"
}).reset_index().sort_values("net_amount", ascending=False)

# Saat bazlı yoğunluk
merged_df["hour"] = merged_df["datetime"].dt.hour
hourly_sales = merged_df.groupby("hour").agg({
    "net_amount": "sum",
    "quantity": "sum"
}).reset_index()

# En çok satılan ilk 10 ürün
top_products = merged_df.groupby("product_code").agg({
    "quantity": "sum",
    "net_amount": "sum"
}).reset_index().sort_values("quantity", ascending=False).head(10)

# Sonuçları yazdır
print("Günlük Satış Trendleri:\n", daily_sales)
print("\nKategori Özeti:\n", category_summary)
print("\nSaat Bazlı Satış Yoğunluğu:\n", hourly_sales)
print("\nEn Çok Satılan Ürünler:\n", top_products)

Günlük Satış Trendleri:
            date   net_amount  quantity
0    2024-02-01  35048.16595        43
1    2024-02-02  44441.23436        55
2    2024-02-03  45911.62657        59
3    2024-02-04  61728.02777        81
4    2024-02-05  20910.27656        27
..          ...          ...       ...
361  2025-01-27  59804.48517        53
362  2025-01-28  66114.50846        57
363  2025-01-29  67911.31770        71
364  2025-01-30  68003.71155        61
365  2025-01-31  76521.67146        72

[366 rows x 3 columns]

Kategori Özeti:
   sub_category_class  quantity    net_amount  discount_rate
7           Straight      5629  5.588764e+06       0.207551
3              Flare      4620  4.378977e+06       0.050576
4                Mom      5083  3.847524e+06       0.119555
9           Wide Leg      3242  3.286241e+06       0.110926
8       Super Skinny      2707  2.395484e+06       0.075227
6      Slim Straight      2210  2.005598e+06       0.031694
0              Baggy      1229  1.255699e+06       0.079320
5             Skinny      1097  1.029655e+06       0.127314
2              Diğer       146  1.097223e+05       0.256270
1          Boyfriend        48  1.056097e+04       0.463782

Saat Bazlı Satış Yoğunluğu:
     hour    net_amount  quantity
0      9  2.527247e+03         3
1     10  3.127783e+05       347
2     11  7.271843e+05       795
3     12  1.419171e+06      1549
4     13  1.879978e+06      2034
5     14  2.313450e+06      2499
6     15  2.681126e+06      2896
7     16  2.773368e+06      2995
8     17  2.825505e+06      3062
9     18  2.760201e+06      3019
10    19  2.505006e+06      2712
11    20  2.163489e+06      2367
12    21  1.422056e+06      1598
13    22  1.042337e+05       119
14    23  1.815243e+04        16

En Çok Satılan Ürünler:
        product_code  quantity    net_amount
88    M101048-84417      1848  1.730812e+06
110  M1010627-87211      1835  1.828746e+06
188   M101225-80680      1385  1.289801e+06
66   M1010299-83039      1174  1.097867e+06
216   M101441-86391      1061  1.121211e+06
3     M100277-35250       984  9.050948e+05
1     M100277-33555       974  4.847918e+05
123   M101072-34111       942  1.011052e+06
211   M101441-82297       934  9.286828e+05
41    M100980-82211       827  9.613597e+05

In [31]:
output_path = "satis_analizi.xlsx"

with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
    daily_sales.to_excel(writer, sheet_name="Gunluk_Satis_Trendi", index=False)
    category_summary.to_excel(writer, sheet_name="Kategori_Ozeti", index=False)
    hourly_sales.to_excel(writer, sheet_name="Saat_Bazli_Yogunluk", index=False)
    top_products.to_excel(writer, sheet_name="En_Cok_Satan_Urunler", index=False)

print(f"\nExcel dosyası oluşturuldu: {output_path}")

Excel dosyası oluşturuldu: satis_analizi.xlsx

In [32]:
# 1. Fact tablosu (birleşik veri)
sales_fact = merged_df.copy()

# 2. Tarih boyutu
date_dim = merged_df[["date"]].drop_duplicates().sort_values("date")
date_dim["date"] = pd.to_datetime(date_dim["date"])

# 3. Saat boyutu
hour_dim = pd.DataFrame({"hour": range(0, 24)})

# 4. Ürün boyutu
product_dim = merged_df[["product_code", "sub_category_class"]].drop_duplicates()
product_dim.columns = ["product_code", "sub_category_class"]

# 5. Kategori boyutu
category_dim = product_dim[["sub_category_class"]].drop_duplicates()
category_dim.columns = ["sub_category_class"]

# 6. Excel'e yaz
with pd.ExcelWriter("satis_model.xlsx", engine="openpyxl") as writer:
    sales_fact.to_excel(writer, sheet_name="sales_fact", index=False)
    date_dim.to_excel(writer, sheet_name="date_dim", index=False)
    hour_dim.to_excel(writer, sheet_name="hour_dim", index=False)
    product_dim.to_excel(writer, sheet_name="product_dim", index=False)
    category_dim.to_excel(writer, sheet_name="category_dim", index=False)